<div class="container">
  <h3>Welcome message page</h3>
  <div class="center">
    <div>
      <ul>
        <li>+ Create Home page component with a welcome message and some navigation tabs (eg. using Nav or Navbar Bootstrap components): Home, Users and Services.</li>
        <li>+ Create User model (name, age, gender, userId, registrationDate) and InsuranceService model (name, serviceId, description, price, image). </li>
        <li>+ Create User Card component which is a card which shows some user info, it has to have a navigation button, display the registrationDate with format day/month/year. Tip: Card Component from Bootstrap</li>
        <li>Create a Users service to provide and store some users data </li>
        <li>+ Create a CreateUser component with a form (name, age and gener-> select or radio input). All fields are required, name cannot be more than 100characters and age value must be between 0 and 99. When submit, save the new user in the users service.</li>
        <li>Create Users page component to display all users cards and a Create User section. </li>
        <li>Create InsuranceServices component and display some services cards (with an image, display the price of the insurance service in format: X.XX €).</li>
        <li>Set up the routing of these pages (the AppRoutingModule) following the instructions below:
          <ul>
            <li>In the User Detail page must be indicated the userId in the URL.</li>
            <li>When user goes to Users page, display the Create User component if the Query Param "allowCreate" is 1.</li>
            <li>If the user enters to unknown page through URL, it is redirected to Home.</li>
        </ul></li>
      </ul>
    </div>
  </div>
</div>
